<template>
	<v-container>
		<v-row>
			<v-col cols="12">
				<v-card>
					<v-card-title class="headline">
						<v-icon v-bind="start">mdi-bacteria</v-icon>
						<!-- coming in mdi 5.1.xx -->
						<!-- <v-icon v-bind="start">mdi-virus</v-icon> -->
						{{ $t("home.covid19") }}
					</v-card-title>
					<v-card-text>
						<div class="title">{{ $t("home.about") }}</div>
						<div class="body-1">{{ $t("home.about_content") }}</div>
					</v-card-text>
					<v-card-text>
						<div class="title">{{ $t("home.spread") }}</div>
						<div class="body-1">{{ $t("home.spread_content") }}</div>
					</v-card-text>

					<v-card-text>
						<div class="title">{{ $t("home.infection_risk") }}</div>
						<div class="body-1">{{ $t("home.infection_risk_label") }}</div>
						<ul class="body-2">
							<li>{{ $t("home.infection_risk_item_1") }}</li>
							<li>{{ $t("home.infection_risk_item_2") }}</li>
							<li>{{ $t("home.infection_risk_item_3") }}</li>
						</ul>
					</v-card-text>

					<v-card-text>
						<div class="title">{{ $t("home.symptoms") }}</div>
						<div class="body-1">{{ $t("home.symptoms_content") }}</div>
					</v-card-text>

					<v-card-text>
						<div class="title">{{ $t("home.some_facts") }}</div>
						<ul class="body-2">
							<li>{{ $t("home.some_facts_item_1") }}</li>
							<li>{{ $t("home.some_facts_item_2") }}</li>
							<li>{{ $t("home.some_facts_item_3") }}</li>
							<li>{{ $t("home.some_facts_item_4") }}</li>
						</ul>
					</v-card-text>
				</v-card>
			</v-col>

			<v-col cols="12">
				<v-card>
					<v-card-title class="headline">
						<v-icon v-bind="start">mdi-chart-bell-curve</v-icon>
						{{ $t("home.graph_section_title") }}
					</v-card-title>
					<v-card-text>
						<v-img
							src="https://miro.medium.com/max/670/1*PZesaMfoPxgYJBoQVtpmjQ.gif"
							max-height="500"
							contain
						></v-img>
						<div class="text-center">{{ $t("home.graph_1_subtitle") }}</div>
					</v-card-text>
					<v-card-text>
						<v-alert type="info" color="primary">{{ $t("home.graph_1_alert") }}</v-alert>
					</v-card-text>
					<v-card-text>
						<div class="title">{{ $t("home.graph_actions_title") }}</div>
						<ol class="body-2">
							<li>{{ $t("home.graph_action_1") }}</li>
							<li>{{ $t("home.graph_action_2") }}</li>
							<li>{{ $t("home.graph_action_3") }}</li>
							<li>{{ $t("home.graph_action_4") }}</li>
							<li>{{ $t("home.graph_action_5") }}</li>
						</ol>
					</v-card-text>
					<v-card-text>
						<v-img
							src="https://www.telegraph.co.uk/content/dam/opinion/2020/03/24/TELEMMGLPICT000228341513-xlarge_trans_NvBQzQNjv4Bq1TJOa7BZ2Re4vzncv8bVrxi4GB-4tR5Il4FFM2mWZkk.jpeg?imwidth=1200"
							max-height="350"
							contain
						></v-img>
					</v-card-text>
				</v-card>
			</v-col>

			<v-col cols="12">
				<v-card>
					<v-card-title class="headline">
						<v-icon v-bind="start">mdi-home</v-icon>
						{{ $t("home.stayhome") }}
					</v-card-title>
					<v-card-text>
						<v-img
							src="https://www.reformaustin.org/wp-content/uploads/2020/03/Lets-stay-home.jpg"
							max-height="500"
							contain
						></v-img>
					</v-card-text>
					<v-card-text>
						<v-alert type="error">{{ $t("home.stayhome_alert") }}</v-alert>
					</v-card-text>
					<v-card-text>
						<v-img
							src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/coronavirus-covid-19-stay-home-post-design-template-6e7a5fed77a2dd82b434547235a96f8c_screen.jpg?ts=1584656144"
							max-height="500"
							contain
						></v-img>
					</v-card-text>
					<v-card-text>
						<div class="title">{{ $t("home.stayhome_tips_title") }}</div>
						<ol class="body-2">
							<li>{{ $t("home.stayhome_tip_1") }}</li>
							<li>{{ $t("home.stayhome_tip_2") }}</li>
							<li>{{ $t("home.stayhome_tip_3") }}</li>
							<li>{{ $t("home.stayhome_tip_4") }}</li>
							<li>{{ $t("home.stayhome_tip_5") }}</li>
							<li>{{ $t("home.stayhome_tip_6") }}</li>
							<li>{{ $t("home.stayhome_tip_7") }}</li>
							<li>{{ $t("home.stayhome_tip_8") }}</li>
						</ol>
					</v-card-text>
					<v-card-text>
						<v-img
							src="http://kymkemp.com/wp-content/uploads/2020/03/89958227_2612775438845534_6634006511171403776_o-900x598.png"
							max-height="500"
							contain
						></v-img>
					</v-card-text>
				</v-card>
			</v-col>

			<v-col cols="12">
				<v-card>
					<v-card-title class="headline">
						<v-row no-gutters>
							<v-col class="shrink">
								<v-icon v-bind="start">
									<template>{{ $vuetify.rtl ? 'mdi-account-arrow-right' : 'mdi-account-arrow-left' }}</template>
								</v-icon>
							</v-col>
							<v-col class="expand text-center">{{ $t("home.social_distancing") }}</v-col>
							<v-col class="shrink">
								<v-icon v-bind="end">
									<template>{{ $vuetify.rtl ? 'mdi-account-arrow-left' : 'mdi-account-arrow-right' }}</template>
								</v-icon>
							</v-col>
						</v-row>
					</v-card-title>
					<v-card-text>
						<v-img
							src="https://miro.medium.com/max/2986/1*4kOJv8hmd5VFPcBL1mywsw.png"
							max-height="500"
							contain
						></v-img>
						<div class="text-center">{{ $t("home.social_distancing_graph_caption") }}</div>
					</v-card-text>
					<v-card-text>
						<v-alert type="warning">{{ $t("home.stayhome_alert") }}</v-alert>
					</v-card-text>
					<v-card-text>
						<v-img
							src="https://www.news-medical.net/image.axd?picture=2020%2F3%2FCoronavirusgraph.jpg"
							max-height="500"
							contain
						></v-img>
					</v-card-text>
					<v-card-text>
						<div class="title">{{ $t("home.social_distancing_graph_2_subtitle") }}</div>
						<ul class="body-2">
							<li class="red--text">
								<b>{{ $t("home.social_distancing_red") }}</b>
							</li>
							<li class="green--text">
								<b>{{ $t("home.social_distancing_green") }}</b>
							</li>
							<li class="blue--text">
								<b>{{ $t("home.social_distancing_blue") }}</b>
							</li>
						</ul>
					</v-card-text>
					<v-card-text>
						<v-img
							src="http://www.burlingtongazette.ca/wp-content/uploads/social-distance-5-matches.png"
							max-height="350"
							contain
						></v-img>
					</v-card-text>
				</v-card>
			</v-col>

			<v-col cols="12">
				<v-card>
					<v-card-title class="headline">
						<v-icon v-bind="start">mdi-information</v-icon>
						{{ $t("home.resources") }}
					</v-card-title>
					<v-card-text>
						<div>
							<a
								href="https://www.worldometers.info/coronavirus/"
								target="_blank"
							>Worldometers Corona Virus Statistics</a>
						</div>
						<div>
							<a
								href="https://www.visualcapitalist.com/infection-trajectory-flattening-the-covid19-curve/"
								target="_blank"
							>Infection Trajectory: See Which Countries are Flattening Their COVID-19 Curve</a>
						</div>
						<div>
							<a
								href="https://www.youtube.com/watch?v=BtN-goy9VOY"
								target="_blank"
							>Kurzgesagt: The Coronavirus Explained & What You Should Do</a>
						</div>
					</v-card-text>
				</v-card>
			</v-col>
		</v-row>
	</v-container>
</template>

<script>
export default {
	name: "Home",
	computed: {
		start() {
			return {
				left: !this.rtl,
				right: this.rtl
			};
		},
		end() {
			return {
				left: this.rtl,
				right: !this.rtl
			};
		}
	},
};
</script>
